body {
    background-color: black !important;
}

#todo{
    background-color: #807c7c;
    padding-top: 15px;
}

#schedule .ruta  {
    width: 350px;
    height: 48px;
    padding: 0px;
    border: 1px solid #aaaaaa;
    list-style-type: none;
}

#resizable { width: 350px; height: 150px; padding: 0.5em;}

.absolute {
    position:absolute!important; 
}

#myUL {
    height: auto;
    padding: 0px;
    list-style-type: none; 
}



#schedulelist > li {
    left: 0px !important;
}

ul {
    margin:0;    
    padding: 0;
    list-style-type:none;
}

li {
    height: 48px;
    cursor: pointer;
    padding: 5px 30px 8px 30px;
    background-color: aqua;
    font-size: 17px;
    transition: 0.01s;
    /* border: 1px solid transparent !important; */

    border-top: 1px solid grey; !important;
    background-clip: padding-box !important; 
    border-radius: 4px;
    width: 350px;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

li:hover {
    background: #ddd;
}

li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}
    
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 2px 9px 7px 9px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}

.header {
    background-color: #413b3b;
    padding: 20px 40px 22px 40px;
    color: white;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}

input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
    padding: 10px;
    width: 25%;
    background: #807c7c;
    color: rgb(245, 245, 245);
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.addBtn:hover {
    background-color: #bbb;
}

h3{} 

p {
    font-size: 13px;
    display: block;
    padding-top: 13px;
    padding-left:40px;
    color: rgb(245, 245, 245);
}

#p1 {padding-top: 5px;}

#schedule {
    background-color: #413b3b;
    padding: 15px 0px 0px 0px;
}
#time {
    background-color: #413b3b;
    padding-right: 0px;
    padding-left: 0px;
}
